
@{
    Layout = null;
}

@{
    ViewData["Title"] = "ErrorPage";
}


<div class="container-fluid">
    <div class="row img-center">
        <div class="col-12">
            <img src="~/img/error/404-Pages-1112x556.jpg" alt="Alternate Text" />
        </div>
    </div>
</div>

<style>
    .img-center {
        display: flex;
        justify-content: center;
    }
</style>
